body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*全体のコンテナ*/
.sita-container{
    width: 99.5%;/*全画面横幅*/
}

/*タブ*/
.tabs{
    display: grid;
    /*タブ3つは固定幅残りは全幅*/
    grid-template-columns: repeat(3,5%) 1fr;/*タブ横幅*/
    height: 6%;/*タブ縦幅*/
}
/*各タブ*/
.tab{
    /*文字を中央に配置*/
    display: grid;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;/*枠線*/
    border-bottom: none;/*下の線は消して本体と繋げる*/
    margin-right: -2px;/*ボーダーが重なって太くなるのを防ぐ*/
}
.tab2{
    /*文字を中央に配置*/
    display: grid;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;/*枠線*/
    margin-right: -2px;/*ボーダーが重なって太くなるのを防ぐ*/
}
.tab3{
    /*文字を中央に配置*/
    display: grid;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;/*枠線*/
    margin-right: -2px;/*ボーダーが重なって太くなるのを防ぐ*/
}
/*タブの右側の直線*/
.tab-right{
    border-bottom: 2px solid #000;
    align-self: end;/*下側に線を配置*/
}


/*下側の大きな箱*/
.home{
    height: 93.5%;/*画面高さ*/
    border: 2px solid #000;
    border-top: none;/*上の線はタブ側で表現するので消す*/
    /*割合決め*/
    display: grid;
    grid-template-columns: 3fr 1fr;
}
/*画面左*/
.leftbox{
    grid-row: 1;
    grid-column: 1;
    width: 100%;/*横幅*/
    height: 100%;/*高さ*/
    /*割合決め*/
    display: grid;
    grid-template-rows: 3fr 1.5fr;
}
/*教室一覧*/
.room{
    /*中央揃え*/
    display: grid;
    place-items: center;
    /*場所決め*/
    grid-row: 1;
    grid-column: 1;
    width: 100%;/*横幅*/
    height: 100%;/*高さ*/
    /*枠線*/
    filter: drop-shadow(2px 0 0 #000) 
            drop-shadow(-2px 0 0 #000) 
            drop-shadow(0 2px 0 #000) 
            drop-shadow(0 -2px 0 #000);
    /*background-color: greenyellow;*/
}

/*5階*/
.five{
    width: 60%;/*横幅*/
    height: 95%;/*高さ*/
    /*左に何% 下に何%*/
    clip-path: polygon(0 0,100% 0%,100% 45%,50% 100%,0 100%);
    /*割合決め*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);/*横*/
    grid-template-rows: repeat(9, 1fr);/*縦*/
    /*gap: 10px;→grid-templateに隙間を入れたいとき*/
    background-color: #f5f5f5;
}
/*職員室*/
.teacher{
    /*場所決め*/
    grid-column: 1;/*横*/
    grid-row: 1 / span 3;/*縦*/
    border: 2px solid #000;
    border-left: none;
    border-top: none;
    border-bottom: none;
    background-color: #fffafa;
}
/*504-------------------------------------------------------------------*/
.fivefour{
    /*場所決め*/
    grid-column: 2 / span 2;/*横*/
    grid-row: 1 / span 2;/*縦*/
    border: 2px solid #000;
    border-top: none;
    border-left: none;
    background-color: #fffafa;
    /*割合決め*/
    position: relative;
}
/*部屋番号*/
.zero{
    display: flex;
    justify-content: center; /*左右中央*/
    font-size: 40px;
}
/*504人*/
.fhito{
    position: absolute;
    top: 0px;
    left: 0px;
    width:120;
    height:120;
}
/*504温度計*/
.f_ondo{
    position: absolute;
    top:25px;
    right: 0px;
    width:70;
    height:80;
}

/*階段1*/
.stairs{
    /*場所決め*/
    grid-column: 4;/*横*/
    grid-row: 1;/*縦*/
    border: 2px solid #000;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #fffafa;
}
/*502-------------------------------------------------------------------*/
.fivetwo{
    /*場所決め*/
    grid-column: 1;/*横*/
    grid-row: 4 / span 4;/*縦*/
    border: 2px solid #000;
    border-left: none;
    background-color: #fffafa;
    /*割合決め*/
    position: relative;
}
/*502人*/
.thito{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width:120;
    height:120;
}
/*502温度計*/
.t_ondo{
    position: absolute;
    top: 50px;
    right: 0px;
    width:70;
    height:80;
}

/*階段2*/
.stairs2{
    /*場所決め*/
    grid-column: 1;/*横*/
    grid-row: 9;/*縦*/
    border: 2px solid #000;
    border-left: none;
    border-bottom: none;
    background-color: #fffafa;
}
/*506-------------------------------------------------------------------*/
.xbox{
    grid-column: 2 / 5;
    grid-row: 3 / 10;
    /*枠線*/
    filter: drop-shadow(1px 0 0 #000) 
            drop-shadow(-1px 0 0 #000) 
            drop-shadow(0 1px 0 #000) 
            drop-shadow(0 -1px 0 #000);
}
.fivesix{
    width: 100%;
    height: 100%;
    background-color: #fffafa;
    clip-path: polygon(88% 10%,100% 29%,34% 100%,22% 80%);
    /*割合決め*/
    position: relative;
}
/*506部屋番号*/
.szero{
    position: absolute;
    top:210px;
    right: 190;
    font-size: 40px;
}
/*506人*/
.shito{
    position: absolute;
    top: 295px;
    left: 168px;
    width:120;
    height:120;
}
/*506温度計*/
.s_ondo{
    position: absolute;
    top: 70px;
    right: 40px;
    width:70;
    height:80;
}

/*気温等-----------------------------------------------------------------*/
.temp{
    grid-row: 2;
    grid-column: 1;
    width: 100%;/*横幅*/
    height: 100%;/*高さ*/
    border: 2px solid #000;/*枠線*/
    border-left: none;
    border-bottom: none;
    /*中央揃え*/
    display: grid;
    place-items: center;
    font-size: 40px;
    /*background-color: green;*/
}


/*画面右*/
.rightbox{
    grid-row: 1;
    grid-column: 2;
    width: 100%;/*横幅*/
    height: 100%;/*高さ*/
    /*background-color: greenyellow;*/
}